#runmycode-runner {
  color: #565d64;
  position: fixed;
  top: 150px;
  /* set these so Chrome doesn't return 'auto' from getComputedStyle */
  z-index: 999;
  box-shadow: 5px 5px 10px #888;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#runmycode-runner .panel {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 2px;
  margin-bottom: 0;
}

#runmycode-runner .panel-default {
  border-color: #e5e5e5;
}

#runmycode-runner .panel-group {
  margin-bottom: 0;
}

#runmycode-runner .panel-group .panel+.panel {
  margin-top: 5px;
}

#runmycode-runner .panel-heading {
  padding: 6px 16px;
  border-bottom: 1px solid #e5e5e5;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  cursor: pointer;
  line-height: 27px;
  background-color: #f5f5f5;
  -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#runmycode-runner-handle.panel-heading {
  cursor: move;
}

#runmycode-runner .panel-title {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: inherit;
  clear: inherit;
}

#runmycode-runner .panel-title>a {
  color: inherit;
  text-decoration: none;
}

#runmycode-runner .panel-title>a:hover {
  text-decoration: underline;
}

#runmycode-runner .panel-body {
  padding: 15px;
}

#runmycode-runner .panel-runner .panel-body {
  padding: 0;
}

#runmycode-runner .close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  font-family: inherit;
  line-height: 1;
  opacity: 0.3;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
}

#runmycode-runner .close:hover, #runmycode-runner .close:focus {
  cursor: pointer;
  opacity: 0.7;
}

#runmycode-runner .collapse {
  display: none;
}

#runmycode-runner .collapse.in {
  display: block;
}

#runmycode-runner .btn {
  border: 1px solid #e5e5e5;
  font-size: 14px;
  border-radius: 3px;
  padding: 10px 0;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
  background-image: none;
  -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#runmycode-runner .btn-block {
  display: block;
  width: 100%;
  margin: 0 0 15px 0;
}

#runmycode-runner .btn-warning {
  background-color: #fc9403;
  color: #fff;
}

#runmycode-runner .btn-warning:active {
  background-color: #c26700;
}

#runmycode:disabled {
  color: white !important;
  font-weight: bold !important;
  background-color: rgba(252, 148, 3, 0.5) !important;
  box-shadow: none !important;
  pointer-events: none !important;
  cursor: not-allowed !important;
}

#runmycode-run-input, #runmycode-run-output {
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
  padding: 6px 10px;
  min-width: 100%;
  display: block;
  margin: 0;
  font-size: 14px;
  color: inherit;
  line-height: normal;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
}

/*#runmycode-runner textarea[readonly] {
  background-color: #f9f9f9;
}*/

#runmycode-runner .error {
  color: red;
}

#runmycode-run-input {
  min-height: 46px;
}

#runmycode-run-output {
  resize: both;
  min-height: 90px;
}

.hidden {
  display: none;
}
